# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

#SES
AWS_SES_REGION=
AWS_SES_FROM_EMAIL=
AWS_SES_TO_EMAIL=

# S3
AWS_S3_BUCKET=
AWS_S3_PLAYS_SOURCE=
AWS_S3_GEOBUCKET_SOURCE=
AWS_S3_OPENWEATHER_SOURCE=

# BigQuery
BIGQUERY_PROJECT=
BIGQUERY_DATASET_BRONZE=
BIGQUERY_DATASET_SILVER=
BIGQUERY_DATASET_GOLD=

# GCP Service Account (used by dbt profiles.yml via env_var())
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=

# GCP Service Account JSON path (used locally in Codespaces)
GOOGLE_APPLICATION_CREDENTIALS=
